@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Source+Code+Pro:wght@300&display=swap");

// Fonts
$font-style: "Inter", sans-serif;
$secondary-font-style: "Source Code Pro", monospace;

// Colours
$background-colour: linear-gradient(147.36deg, #0d1b30 0%, #222223 100%);
$main-font-colour: #ffffff;

// Spacing
$xxs-spacing: 8px;
$xs-spacing: 16px;
$s-spacing: 24px;
$m-spacing: 32px;
$l-spacing: 40px;
$xl-spacing: 48px;
$xxl-spacing: 56px;
