@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Source+Code+Pro:wght@300;500&display=swap");

// Fonts
$font-style: "Inter", sans-serif;
$secondary-font-style: "Source Code Pro", monospace;

// Font Sizes
$heading-font-size: clamp(1.7rem, 1.6vw, 2.2rem);
$p-font-size: clamp(1.2rem, 1.4vw, 1.4rem);

// Font Colours
$main-font-colour: #ffffff;
$card-title-colour: #ddd26f;

// Colours
$background-colour: linear-gradient(147.36deg, #0d1b30 0%, #222223 100%);
$secondary-background-colour: #0d1219;
$active-background-colour: #2f9bff;

// Spacing
$xxs-spacing: 8px;
$xs-spacing: 16px;
$s-spacing: 24px;
$m-spacing: 32px;
$l-spacing: 40px;
$xl-spacing: 48px;
$xxl-spacing: 56px;

// Mixins
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
