.about-container {
  padding: $xxl-spacing;

  .about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: $xl-spacing;

    #swiper {
      width: 550px;
      height: 650px;
      border-radius: 16px;
      padding-bottom: 30px !important;
      z-index: 1;

      .swiper-pagination {
        background-color: $secondary-background-colour;
        padding: 3px;
      }

      .swiper-pagination-bullet {
        background-color: white;
      }

      .swiper-pagination-bullet-active {
        background-color: #ee256d !important;
      }

      .slide {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }

      .slide-1 {
        object-position: bottom;
      }

      .slide-2 {
        object-position: 25% 10%;
      }
    }

    p {
      color: $main-font-colour;
      font-size: $p-font-size;
      padding: 0px 200px 30px 200px;
      width: 1250px;
    }
  }
}

@media (max-width: 1850px) {
  .about-container {
    .about-content {
      p {
        width: auto;
        padding: 0px 30px 30px 30px;
      }
    }
  }
}

@media (max-width: 1080px) {
  .about-container {
    h2 {
      text-align: center;
    }
    .about-content {
      flex-direction: column-reverse;

      #swiper {
        margin-top: $xl-spacing;
      }
    }
  }
}

@media (max-width: 600px) {
  .about-container {
    padding: $xs-spacing;
    .about-content {
      #swiper {
        width: 300px;
        height: 400px;
      }

      p {
        padding: 0px 0px 30px 0px;
        width: 100%;
      }
    }
  }
}
