@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height: auto;
  background: $background-colour;
  background-attachment: fixed;
  scrollbar-width: thin;
}

// Custom scrollbar
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #0d1b30;
}
body::-webkit-scrollbar-thumb {
  background-color: #313131;
}

.app {
  font-family: $font-style;
}

h2 {
  font-size: $heading-font-size;
  font-weight: 500;
  color: $main-font-colour;
}
