@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: auto;
  background: $background-colour;
  background-attachment: fixed;
}

.app {
  font-family: $font-style;
}
