.on1-project-container {
  color: white;
  display: flex;
  flex-direction: column;
  width: 100vw;

  h3 {
    text-align: center;
    padding: $xl-spacing;
  }

  .on1-project-header {
    padding: $xl-spacing;
    .project-year {
      color: #ddd26f;
      margin-bottom: $xs-spacing;
    }

    .project-title {
      font-weight: 500;
      font-size: $heading-font-size;
    }

    .project-title > span {
      color: #ee256d;
    }

    .project-description {
      font-size: $p-font-size;
      margin-top: $xl-spacing;
      width: 900px;
    }

    .projects-btn-container {
      margin-top: $m-spacing;

      .visit-website-btn {
        @include visitWebsiteBtn;
        transition: 300ms ease-in-out;
      }
      .visit-website-btn:hover {
        background-color: #84173d;
      }

      .visit-website-btn > a {
        text-decoration: none;
        color: $main-font-colour;
      }
    }
  }
}
