.projects-container {
  padding: $l-spacing;

  h2 {
    font-size: $heading-font-size;
    font-weight: 500;
    color: $main-font-colour;
  }

  .filters-container {
    display: flex;
    gap: $s-spacing;
    margin-top: $xl-spacing;

    .frontend-filter {
      background-color: $active-background-colour;
    }

    .games-filter {
      background-color: $secondary-background-colour;
    }
  }

  .filters-container > div {
    padding: 10px 30px;
    color: $main-font-colour;
    border-radius: 16px;
    cursor: pointer;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    margin-top: $xl-spacing;

    .card {
      width: 360px;
      background-color: $secondary-background-colour;
      padding: 20px 28px;
      border-radius: 16px;

      .card-title {
        font-family: $secondary-font-style;
        color: $card-title-colour;
        font-size: 1.3rem;
        font-weight: 500;
      }

      .card-text {
        color: $main-font-colour;
        font-size: 1.1rem;
        margin-top: $xs-spacing;
        height: 84px;
        font-weight: 300;
      }

      .icons-container {
        display: flex;
        justify-content: flex-end;
        align-content: flex-end;
        gap: 20px;
        margin-top: $m-spacing;

        > img {
          width: 30px;
        }

        .sass-icon {
          width: 35px;
        }
      }
    }
  }
}
