.quotes-container {
  padding: $xl-spacing;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  h2 {
    text-align: center;
    font-style: italic;
    opacity: 0;
    transform: translateY(100%);
    transition: 1s ease-in-out;
  }
  .show-heading {
    opacity: 1;
    transform: translateY(0%);
  }

  .quotes-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $xs-spacing;

    > img {
      width: 40px;
      opacity: 0;
      transition: 1s ease-in;
    }

    .show-quote-img {
      opacity: 1;
    }
  }
  .quotes-box {
    background: linear-gradient(
      112.55deg,
      rgba(0, 0, 0, 0.6) 4.78%,
      rgba(0, 0, 0, 0.6) 4.79%,
      rgba(111, 111, 111, 0.08) 96.21%
    );
    color: white;
    width: 1000px;
    height: 200px;
    @include flexCenter;
    flex-direction: column;
    margin-top: $xl-spacing;
    border: 2.76895px solid #00a3ff;
    border-radius: 16px;
    opacity: 0;
    transform: translateY(30px);
    transition: 1s ease-in-out;

    .quote {
      text-align: center;
      font-style: italic;
      font-size: 1.2rem;
      padding: 30px 30px 0px 30px;
      opacity: 0;
      transition: 1s ease-in;
    }
    .show-quote {
      opacity: 1;
    }

    .author {
      margin-top: $s-spacing;
      opacity: 0;
      transition: 1s ease-in;
    }
    .show-author {
      opacity: 1;
    }

    > img {
      width: 40px;
      cursor: pointer;
      margin-top: $s-spacing;
      transition: 300ms ease-in-out;
    }
    > img:hover {
      transform: rotate(360deg);
    }
  }
  .show-quotes-box {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media (max-width: 1080px) {
  .quotes-container {
    .quotes-box {
      width: auto;
      height: auto;
    }
  }
}

@media (max-width: 420px) {
  .quotes-container {
    .quotes-box {
      padding-top: $xs-spacing;
      padding-bottom: $xs-spacing;

      .quote {
        font-size: 0.9rem;
      }
    }
  }
}
